extends layout.pug

block content
  include navbar.pug
  include jumbotron.pug
  .container.darkOlive.col-md-6
    p.text-white This app compares news headlines and summaries of regular news headlines (provided by the awesome 
      a(href='https://newsapi.org') News API
      | ) with Twitter. The app draws word clouds based on the frequency of words found in the same headline, summary or tweet as a specific search term. Data goes back 7 days and is restricted to the latest 100 headlines + summaries and tweets. A news ticker at the bottom of the page shows the 20 most recent searches, as well as theirthe number of times these terms were searched.
    p.text-white NewsCloud is my capstone project for the 
      a(href='https://teamtreehouse.com') Treehouse 
      | Full Stack JavaScript Techdegree. It's built with Node.js, Express, MongoDB, Mongoose, Bootstrap, and jQuery. It uses several npm packages, but I'd like to give a special shout-out to the excellent
      a(href='https://www.npmjs.com/package/wordcloud') wordcloud2.js 
      | by
      a(href='https://timdream.org') Timothy Guan-tin Chien
      | and 
      a(href='https://www.npmjs.com/package/marquee3000')
      | by
      a(href='http://ezekielaquino.com') Ezekiel Aquino
      |. NewsCloud connects with three APIs (
      a(href='https://newsapi.org/') News API
      | ,
      |
      a(href='https://developer.twitter.com/en/docs') Twitter
      | , and
      |
      a(href='https://www.datamuse.com/api/') Datamuse 
      | - the latter for retrieving random words). Feel free to check out my code on 
      | 
      a(href='https://github.com/rhvdbergh/newscloud') GitHub
      | . Also, if you like NewsCloud or have any suggestions, feel free to contact me on Twitter
      a(href='https://twitter.com/ronaldvdb') @ronaldvdb
      | .
    p.text-white Go ahead - enter a search term or perform a search on a
      | 
      a(href='/random/search') random word.    
  include scripts.pug