.container
    .row
      .col-lg#news_col
        h1.display-5.text-center.darkOlive.text-white.shadow-lg News
        canvas#news_canvas.shadow-lg
      .col-lg#twitter_col
        h1.display-5.text-center.darkOlive.text-white.shadow-lg Twitter
        canvas#twitter_canvas.shadow-lg