script.
  Marquee3k.init();
  const news_canvas = document.getElementById('news_canvas');
  const twitter_canvas = document.getElementById('twitter_canvas');
  const news_col = document.getElementById('news_col');
  const twitter_col = document.getElementById('twitter_col');

  news_canvas.width = news_col.clientWidth - 30;
  news_canvas.height = 400;
  twitter_canvas.width = twitter_col.clientWidth - 30;
  twitter_canvas.height = 400;



  WordCloud(document.getElementById('news_canvas'), { list: #{news}, wait: 50 } );
  WordCloud(document.getElementById('twitter_canvas'), { list: #{tweets}, wait: 50 } );