.container#footer
  .marquee3k(data-speed='0.75')
    h2 
      each term in latest
        | ...
        a(href=`/${term.term}`) "#{term.term}"
        |
        | searched #{term.count} times...
        |
        |