.container
  .marquee3k(data-speed='0.75')
    h2 This is an example scrolling of some very very long text. This text might not even be long enough.
nav.navbar.sticky-bottom.navbar-light.darkSlateGray
    .container.col-12
      p.text-white News headlines and summaries provided by 
        a(href='https://newsapi.org') News API