extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-dark.sticky-top
    a.navbar-brand.text-white(href='#') Login
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.text-white(href='#') Home
        li.nav-item
          a.nav-link.text-white(href='#') About
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4.text-center.text-white= title
      p.lead.text-center.text-white
        | News vs Twitter!
  .container
    .row
      .col-lg#news_col
        h1.display-5.text-center.bg-dark.text-white.shadow-lg News
        canvas#news_canvas.shadow-lg
      .col-lg#twitter_col
        h1.display-5.text-center.bg-dark.text-white.shadow-lg Twitter
        canvas#twitter_canvas.shadow-lg
  nav.navbar.fixed-bottom.navbar-light.bg-dark
    .container.col-12
      p.text-white News headlines and summaries provided by 
        a(href='https://newsapi.org') News API
  include scripts.pug