#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#loginModalTitle.modal-title Login
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          | ...
        .modal-footer
          button.btn.dimBlack.text-white(type='button') Login