nav.navbar.navbar-expand-lg.navbar-light.darkSlateGray.sticky-top
    button.btn.btn-dark.dimBlack(type='button', data-toggle='modal', data-target='#loginModal')
      | Login
    button.navbar-toggler.dimBlack(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon.dimBlack
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link.text-white(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link.text-white(href='#') About
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
        button.btn.btn-outline-secondary.dimBlack.my-2.my-sm-0(type='submit') Search