nav.navbar.navbar-expand-lg.navbar-light.darkSlateGray.sticky-top
    a#nav-btn.btn.btn-dark.dimBlack(href='')
      | #{buttonTitle}
    button.navbar-toggler.dimBlack(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon.dimBlack
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
      form#search-form.form-inline.my-2.my-lg-0
        input#search-term.form-control.mr-sm-2(type='search', placeholder='Search', name='search_term', aria-label='Search', pattern='[a-zA-Z0-9-\ ]*', title='Only Latin alphabetical characters, numerals and the hyphen allowed. Sorry, no spaces!', autofocus, required)
        button.btn.btn-outline-secondary.dimBlack.my-2.my-sm-0(type='submit') Search