script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js', integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T', crossorigin='anonymous')
script(src='javascripts/wordcloud2.js')
script.
  const news_canvas = document.getElementById('news_canvas');
  const twitter_canvas = document.getElementById('twitter_canvas');
  const news_col = document.getElementById('news_col');
  const twitter_col = document.getElementById('twitter_col');

  news_canvas.width = news_col.clientWidth - 30;
  news_canvas.height = 400;
  twitter_canvas.width = twitter_col.clientWidth - 30;
  twitter_canvas.height = 400;



  WordCloud(document.getElementById('news_canvas'), { list: #{news}, wait: 50 } );
  WordCloud(document.getElementById('twitter_canvas'), { list: #{tweets}, wait: 50 } );      